<div class="post-wrap archive">
    <% page.posts.each(function (post) { %>

      <article class="post-wrap">
        <header class="post-header">
          <a class="" href="<%- url_for(post.path) %>">
            <h1 class="post-title"><%= post.title %></h1>
          </a>

          <div class="post-meta">
            <% if (theme.post_date_enable && post.date) { %>
            <span class="post-time">
            <%- __('date') %>: <a href="#"><%- date(post.date, theme.date_format)  %></a>
            </span>
            <% } %>

            <% if (theme.post_author_enable && post.author) { %>
            <span class="post-author">
            <%- __('author') %>: <a itemprop="author" rel="author" href="https://www.twitter.com/<%- post.author %>">@<%- post.author %></a>
            </span>
            <% } %>
          </div>

        </header>


        <% if (post.video) { %>
          <section class="post-video">
            <div class="js-player" id="player" data-plyr-provider="youtube" data-plyr-embed-id="<%= post.video %>"></div>
          </section>
        <% }%>

        <section class="post-content">
          <%- post.content %>
        </section>

      </article>

    <% }) %>
    <%- partial('_partial/paginator') %>
</div>