<div class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="<%= config.giscus.repo %>"
          data-repo-id="<%= config.giscus.repoid %>"
          data-category="<%= config.giscus.category %>"
          data-category-id="<%= config.giscus.categoryid %>"
          data-mapping="<%= config.giscus.mapping %>"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>
