<header>
  <nav class="navbar" aria-label="Main navigation">
    <div class="container">
      <div class="navbar-header header-logo">
        <a href="<%- url_for('') %>" aria-label="<%= theme.navname %>"><img src="<%- url_for(theme.logos.icon, { ignore: true }) %>" alt="<%= theme.navname %>"></a><a href="<%- url_for('') %>"><%= theme.navname %></a>
      </div>
      <div class="menu navbar-right">
        <% for (var i in theme.nav){ %>
          <% if (theme.nav[i].submenus) { %>
            <div class="menu-item menu-dropdown-container">
              <button class="menu-dropdown-toggle menu-click-dropdown" aria-expanded="false">
                <%= __(theme.nav[i].name) %>
              </button>
              <div class="menu-dropdown-options">
                <ul>
                  <% for (var j in theme.nav[i].submenus){ %>
                    <% if (theme.nav[i].submenus[j].url) { %>
                    <li><a href="<%= theme.nav[i].submenus[j].url %>"><%= __(theme.nav[i].submenus[j].name) %></a></li>
                    <% } else { %>
                    <li><%= __(theme.nav[i].submenus[j].name) %></li>
                    <% } %>
                  <% } %>
                </ul>
              </div>
            </div>
          <% } else { %>
            <a class="menu-item" href="<%- url_for(theme.nav[i].url) %>"><%= __(theme.nav[i].name) %></a>
          <% } %>
        <% } %>
      </div>

    </div>
  </nav>

  <%# mobile %>
  <nav class="navbar-mobile" id="nav-mobile" aria-label="Mobile navigation">
    <div class="container">
      <div class="navbar-header">
        <div>
          <a href="<%- config.root %>"><%= theme.navname %></a>
        </div>
        <button class="menu-toggle" aria-label="<%- __('menu') %>" aria-expanded="false" onclick="mobileBtn()"><span></span><span></span><span></span></button>
      </div>
      <div class="menu" id="mobile-menu">
        <ul>
        <% for (var i in theme.nav){ %>
          <li>
          <% if (theme.nav[i].submenus) { %>
            <div class="menu-item menu-dropdown-container">
              <button class="menu-dropdown-toggle menu-click-dropdown" aria-expanded="false">
                <%= __(theme.nav[i].name) %>
              </button>
              <div class="menu-dropdown-options">
                <ul>
                  <% for (var j in theme.nav[i].submenus){ %>
                    <% if (theme.nav[i].submenus[j].url) { %>
                    <li><a href="<%= theme.nav[i].submenus[j].url %>"><%= __(theme.nav[i].submenus[j].name) %></a></li>
                    <% } else { %>
                    <li><%= __(theme.nav[i].submenus[j].name) %></li>
                    <% } %>
                  <% } %>
                </ul>
              </div>
            </div>
          <% } else { %>
            <a class="menu-item" href="<%- url_for(theme.nav[i].url) %>"><%= __(theme.nav[i].name) %></a>
          <% } %>
          </li>
        <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>
