<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo">
              <a href="<%- url_for('') %>"><img src="<%- url_for(theme.logos.icon, { ignore: true }) %>"></a><a href="<%- url_for('') %>"><%= theme.navname %></a>
            </div>
            <div class="menu navbar-right">
                <% for (var i in theme.nav){ %>
                    <% if (theme.nav[i].submenus) { %>
                      <div class="menu-item menu-dropdown-container">
                        <div class="menu-dropdown-toggle menu-click-dropdown">
                          <%= __(theme.nav[i].name) %>
                        </div>
                        <div class="menu-dropdown-options">
                          <ul>
                            <% for (var j in theme.nav[i].submenus){ %>
                            <li><a href="<%= theme.nav[i].submenus[j].url %>"><%= __(theme.nav[i].submenus[j].name) %></a></li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    <% } else { %>
                      <a class="menu-item" href="<%- url_for(theme.nav[i].url) %>"><%= __(theme.nav[i].name) %></a>
                    <% } %>
                <% } %>
            </div>

        </div>
    </nav>

    <%# mobile %>
    <nav class="navbar-mobile" id="nav-mobile">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <a href="<%- config.root %>"><%= theme.navname %></a>
                </div>
                <div class="menu-toggle" onclick="mobileBtn()">&#9776; <%- __('menu') %></div>
            </div>
            <div class="menu" id="mobile-menu">
                <% for (var i in theme.nav){ %>
                    <% if (theme.nav[i].submenus) { %>
                      <div class="menu-item menu-dropdown-container">
                        <div class="menu-dropdown-toggle menu-click-dropdown">
                          <%= __(theme.nav[i].name) %>
                        </div>
                        <div class="menu-dropdown-options">
                          <ul>
                            <% for (var j in theme.nav[i].submenus){ %>
                            <li><a href="<%= theme.nav[i].submenus[j].url %>"><%= __(theme.nav[i].submenus[j].name) %></a></li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    <% } else { %>
                      <a class="menu-item" href="<%- url_for(theme.nav[i].url) %>"><%= __(theme.nav[i].name) %></a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </nav>
</header>
